* {
    box-sizing: border-box;
}
:root {
    --white: #fff;
    --light-grey: #545454;
    --grey: #2e2e2e;
    --red: #ff0022;
    --black: #000000;
    --blue: #03adfd;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black
}

header > .wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 18px 23px;
}
.wrapper {
    display: flex;
    align-items: center;
}

a, .btn {
    cursor: pointer;
    color: var(--white)
}

.logo__wrapper {
    max-width: 225px;
    margin-right: 15px;
}

.logo__wrapper img {
    width: 100%;
}

.search__btn {
    display: flex;
    align-items:center;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: var(--red);
}

.avatar {
    display: flex;
    align-items: center;
    align-self: stretch;
}

.avatar__icon__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: 0 12px;
    border-radius: 50%;
    background-color: var(--light-grey);
}

.avatar__icon__wrapper img {
    margin-bottom: -10px;
}

.avatar__icon-arrow {
    display: none;
    margin-right: 12px;
}

.menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    padding: 10px 30px;
    background-color: var(--grey);
}

.menu__item__icon {
    width: 21px;
    margin-right: 15px;
}

.active {
    display: flex;
}

.sell__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 40px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    background-color: transparent;
    font-size: 15px;
}

.sell__btn.desktop-view-only {
    padding: 7px 15px;
}

.close-menu__btn {
    position: relative;
    width: 22px;
    height: 22px;
    margin-left: 15px;
    border: none;
    background-color: transparent;
    font-size: 28px;
}

.close-menu__btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 26px;
    background-color: var(--white);
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-menu__btn span:nth-of-type(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-navigation__item {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.menu-navigation__item a {
    display: flex;
    align-items: center;
    line-height: 150%;
}

.menu-navigation__item span {
    width: 26px;
    height: 26px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: var(--blue);
    font-size: 15px;
    text-align: center;
}

.divider {
    display: block;
    width: 190px;
    height: 1px;
    margin-bottom: 25px;
    background-color: rgba(255, 255, 255, .3)
}

.sign-out__btn {
    display: flex;
    align-items: center;
    align-self: center;
    margin-left: -30px;
    background-color: transparent;
    color: var(--white);
    font-size: 16px;
}

.sign-out__btn img {
    height: 20px;
    margin: 0 10px;
}

.desktop-view-only {
    display: none;
}

.search__input {
    min-width: 280px;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid var(--white);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search__input::placeholder {
    color: rgba(0, 0, 0, .3)
}

.browse-categories__btn {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    background-color: transparent;
}

@media screen and (min-width: 1024px) {

    .mobile-view-only {
        display: none;
    }

    .desktop-view-only {
        display: flex;
    }

    .search__btn {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .search__btn img {
        margin-right: 5px;
    }

    .avatar {
        background-color: var(--grey);
    }

    .menu {
        position: absolute;
        top: auto;
        bottom: 0;
        transform: translateY(100%);
        padding-bottom: 30px;
        height: auto;
    }
}
